<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konrad hashing practice</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="shortcut icon" href="img/willy.gif" type="image/x-icon">
</head>
<body>
  <nav>
    <!-- Navbar -->
    <a class="" href="/">Home</a>
    <a class="" href="/create">Create</a>
    <a class="" href="/logout">Log out</a>
  </nav>
  
