<%- include('partials/header'); -%>

<div class="intro">
    <h2>Forgot password?</h2>
    </div>

<form class="login">
    <input class="email" id="emailField" autocomplete="email" type="text" placeholder="email"/>
    <button class="login" type="button" onclick="sendResetPass()">Reset Password</button>
    <p id="statusMessage"></p>
</form>


<script src="js/index.js" defer></script>
<%- include('partials/footer'); -%>