<%- include('partials/header'); -%>

<div class="intro">
    <h2>Forgot password?</h2>
    </div>

<form class="login">
    <input class="username" id="usernameField" autocomplete="email" type="text" placeholder="email"/>
    <button class="login" type="button" onclick="SendMail()">log in</button>
</form>

<%- include('partials/footer'); -%>